html {
    height: 100%;
    width: 100%;
}

body {
    background-color: FloralWhite;
}

header {
    padding: 10px;
    background-color: Brown;
    text-align: center;
    border: 1px solid black;
}

main {
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    padding: 18px;
    background-color: Gainsboro;
    text-align: center;
    border: 1px solid black;
}
