html {
    height: 100%;
    width: 100%;
}

header {
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    background-color: gray;
    text-align: center;
    border: 1px solid black;

}

main {
    margin-top: 5px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

footer {
    margin-top: 3px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    border: 1px solid black;
}