html {
    height: 100%;
    width: 100%;
}

header {
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    background-color: gray;
    text-align: center;
    border: 1px solid black;
}

main {
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
    text-align: center;
}

footer {
    padding: 10px;
    background-color: gray;
    text-align: center;
    border: 1px solid black;
}
